version: '3'
services:
    php:
        build:
            context: .
            dockerfile: Dockerfile_dev
        container_name: crawl-career-php
        restart: unless-stopped
        ports:
            - '8001:80'
        volumes:
            - .:/var/www/html
        environment:
            - APP_ENV=local
            - APP_DEBUG=true
            - CHROME_DRIVER_HOST=localhost
            - CHROME_DRIVER_PORT=9515
            - DUSK_DRIVER_URL=http://localhost:9515
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        shm_size: '2gb' # Tăng shared memory cho Chrome
        privileged: true # Cần thiết cho Chrome trong Docker
        cap_add:
            - SYS_ADMIN # Cần thiết cho Chrome
        networks:
            - crawler_network
        depends_on:
            - mysql
    mysql:
        image: 'mysql/mysql-server:8.0'
        restart: unless-stopped
        ports:
            - '3334:3306'
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_HOST: "%"
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
networks:
    crawler_network:
        driver: bridge
